@import "tailwindcss";
@import "./animations.css";
:root {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);

  background-color: #0B0F14;
  color: #e5e7eb; 
}




